body {
    background-color: burlywood;
}

button {
    padding: 20px;
    cursor: pointer;
}

.display-value {
    font-size: 48px;
}

.operator {
    background-color: aquamarine;
}

.display {
    background-color: brown;
    width: 220px;
}